.headersContainer {
  width: 100%;
  height: auto;
  min-height: 4vh;
  position: relative;
}

.headersTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.headersTopLeft {
  width: auto;
  min-width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: var(--secondary);
}

.headersTopLeft .headersTopLeftOne,
.headersTopLeftTwo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headersTopLeft .headersTopLeftTwo svg {
  margin-right: 10px;
  opacity: 0;
}

.headersTopLeft .headersTopLeftOne svg {
  margin-right: 10px;
  opacity: 0;
}

.headersTopLeftSelected {
  color: var(--tertiary);
  cursor: pointer;
}

.headersTopLeftSelected svg {
  opacity: 1 !important;
}

.headersTopRight button {
  padding: 10px 30px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: var(--secondary);
  color: var(--tertiary);
  border: 0;
  border-radius: 10px;
  font-weight: bold;
}

.headerTextAreaContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 20vh;
}

.headerTextAreaContainer textarea {
  width: 98%;
  height: 100%;
  min-height: 20vh;
  resize: none;
  background-color: var(--main);
  color: var(--tertiary);
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 500px) {
  .headersTopLeft {
    min-width: 45%;
    margin-left: 15px;
  }
  .headersTopRight button {
    padding: 8px 20px;
  }
}
