.mainArea {
  width: 100%;
  min-height: calc(92vh - 1px);
  height: auto;
  background-color: var(--main-light);
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
