.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
  border-bottom: 1px solid black;
}

.left {
  color: var(--secondary);
  padding-left: 1rem;
}

.right {
  padding-right: 1rem;
}

.burgerIcon {
  color: var(--secondary);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.burgerIconVisible {
  opacity: 1;
}
